@media screen and (min-width:769px){
    .null-right {
        padding-right:7px;

    }
    .null-left{
        padding-left:7px;
    }
    .page
    {
        font-size: 36px;
      
    }

    .composesec{
        padding:0;
    }

    #back-msgScreen {
        display:none;
    }
}
@media screen and (max-width:780px){
.page
    {
        font-size: 25px;
       
    }
    .error-seem h4
    {
        font-size: 15px;
    }
    
    
    .home-header .navbar-inverse .error-navbar>li>a
    {
        color: #fff !important;
    }
    
    
    .home-header .navbar-inverse .error-navbar>li>.active
    {
        color: #fff !important;
    }
    
}
@media screen and (max-width:1200px){
    .gridsm {
        width:13.68%;
    }
    
    #customtabs li a {
        font-size:11px;
    }

    #customtabs li {
        border-bottom: 1px solid #dad8d8;
        padding: 0px 4px 0px 4px;
    }
}
@media screen and (max-width:990px){
    

    .md-check {
        width:0px;
    }
    .gridsm {
        width:16%;
        font-size:10px;
    }
    
    .null-right {
        padding-right:15px;

    }
    .null-left{
        padding-left:15px;
    }

    
    .compose-btn {
        margin-top:10px;
    }
}

@media screen and (min-width:769px) and (max-width:990px){
    .compose-btn {
        margin-left:15px;
    }
}

@media screen and (max-width:1300px){
    
}

@media screen and (max-width:400px){
    
}

@media screen and (max-width:768px){
    .link_top {display: none;}
    .sm-media {
        width:1px;
    }
    
    .grid-wrap {
        margin-top:0;
    }
    .topnavbar {
        padding:6px 5px 4px 0px;
        position:fixed;
        top:0;
        z-index:200;
        width:100%;
    }

    .sm-unpull {
        float:none !important;
        width:100%;
    }
    
    .leftsec {
        position: fixed;
        z-index: 200;
        width: 30%;
        left:-50%;
    }
    .rightsec {
        height:auto;
    }
    .user-name {
        width:100%;
        position:static;
    }
    
    .main-content {
        padding-top: 0;
    }
   .bottom-links {
        width:100%;
        position:static;
    }
    .bottom-links a {
        font-size:.8em;
    }
    .bottom-links .links {
        padding-left:2px;
        padding-right:2px;
    }
    
    .aboutmeBtn{
        position:static;
        margin-top:10px;
        float:right;
        margin-right:10px;
        margin-bottom:10px;
    }
    .midsec{height: auto; min-height:400px; padding-top:80px; padding-bottom: 0px;}
    
    .scroll {
        overflow-y:auto;
    }
    
    .mainwrap {
        left:0;
    }
    
    .boxes-posthomous {width: 100%;}
    
    .boxes-posthomous {
    padding: 10px 10px;
    display: table;
    }

.container-posthomous-links .links-boxes {display: inline-block;}

.mediaGalleryBox .mg-img p {display: none;}
.mediaGalleryBox .col-sm-2 {padding: 0px;}

    .login-img .loginheading {
        font-size: 30px;
        line-height: 1.3em;
    }
    
    .login-img .loginheading a {
        font-size: 55px;
        border-bottom: 3px solid #48b897;
    }
    .login-img
    {
        height:auto;
        padding: 16px 30px;
    }
    .login-img ul 
    {
        position:static;
    }
    .login-img .logintext
    {
        padding: 28px 0px 20px 0px;
    }
    .em-logo
    {
        position:static;
        margin-bottom:5px;
    }
    .login-tabs
    {
        position:static;
    }
    .login-content .border-left-custom 
    {
        border-left:1.5px solid #d0d0d0 !important;
        border-top:none;
    }
    
    .home-header .navbar-collapse {
        background: rgb(51, 51, 51);
            padding-bottom: 10px;
    }
    .home-header .nav>li {
        position: relative;
        display: block;
        padding:0 10px;
    }
    
    
    .home-back_ {
     background-image: url(../img/home-back-sm.jpg);
    }
    .home-back_ .navbar {
        z-index:10;
    }
    .home-content {
        position: absolute;
        bottom: 0;
        background: rgba(107, 107, 107, 0.67);
        z-index:-10;
    }
    .home-header .navbar-inverse .navbar-toggle {
        margin-top: -4px;
    }
    .home-content p {
        margin-top:15px;
        margin-bottom:0;
        font-size:16px;
        line-height: 1em;
    }
    
    .home-content .semi-greenBox {
            background-color: rgba(228, 228, 228, 0.43);
        padding: 4px 10px 4px 10px;
        font-size:14px;
    }
	
	
	.home-header .navbar {
		margin-bottom:0;
	}
	
	.home-header .navbar .navbar-toggle {
		margin-right:0;
	}
        
        .top-header-messaging 
        {
            padding:0px 0px 10px 0px;
            margin-top: -20px;
        }
     .head_1_connections
        {
            padding:0px 0px 0px 0px; 
            margin-top: -20px;
        }


     .main-body-message {
        background-color: #fff;
        padding: 0px 15px 0px 15px;
        margin: 0px 0px 20px 0px;
    }

    .main-body-message .navbar-form {
        padding: 0px 25px !important;
    }

    #customtabs li{
        padding-left:10px;
        text-align:center;
        padding-right:10px;
        min-width:60px;
    }
    #customtabs li a{
        font-size:14px;
        text-align:center;
    }
    
    #customtabs li a .fa {
        margin-left:7px;
    }
    #customtabs li a span{
        margin-left:0;
        display:block;
        font-size:10px;
        padding-bottom:2px;
    }
    
    .nav_people {
        height: 440px;
    }
    
    .box_people {
        border-bottom: 3px solid #eee;
    }
    .main-body-message .navbar-form {
        margin-bottom: 0px;
        margin-top:0;
    }
    
    .main-body-message .chatHead_sep {
        border-bottom: 0px solid #eee;
    }
    

    .main-body-message .box_msgs {
        height: 440px;
    }
    
    /* for date */
    .nav_people li .content-left span{
        position:absolute;
        top:15px;
        right:0;
    }
    
    .nav_people li .content-left span.label{
        position:static;
    }

    .messagepg {
        padding-top:60px;
    }

    .main-body-message {
        overflow:hidden;
    }
    .box_msgs { 
        position: absolute;
        top: 104px;
        left: 100%;
        height: 502px !important;
        width: 99.5%;
        background: #fff;
    }
}

@media screen and (max-width:550px){
    .col_select_grid1 {width: 25%;}
    
    .topnavbar ul li {
        display: inline;
        padding: 5px 7px;
        float: left;
        text-align: center;
        position: relative;
    }
    
    .topnavbar ul li .fa {
        display: block;
        font-size: 16px;
    }
    
    .gridsm {
            width: 32%;
            margin-left:0.51%;
            margin-right: 0.51%;
    }
    
    .grid-wrap {
       padding:0;
       background-color:transparent;
    }
    .container-posthomous-links .links-boxes {display: inline-block;}
    
    .links-msgs-p {display: none;}
    
    .login-box
    {
        margin-top: 20px;
    }
    .frgt-pass
    {
        margin-top:60px;
    }
    
    .login-content {
        padding: 30px 30px;
        height:auto;
    }
    .login-content-wrapper .forgot-pwd {
        position: static;
    }
    
    .login-content .login-content-wrapper, .login-tabs{
        width: 100%;
    }
    
    .head_1_connections select
    {
        width:100%;
        margin-bottom:10px;
    }
    .head_1_connections input
    {
        margin-left:0px;
        width:100%;
    }
    .head_1_connections ul li a 
    {
        margin-right: 30px;
    }
    .top-header-messaging .content-left ul li a i
    {
        margin-right:10px;
    }
    .top-header-messaging .content-right ul li a i
    {
        margin-left:10px;
    }
    .top-header-messaging .content-right
    {
        text-align:center;
    }
    .top-header-messaging .content-right ul .percentage 
    {
        margin-left:10px !Important;
        padding:5px;
    }
    .main-body-message .content-right 
    {
        text-align:left !important;
        margin-top:20px !important;
    }
    .main-body-message .content-right ul li a .left-align
    {
            margin-left:0px;
    }
    .main-body-message .head-actions .bottom-adjust
    {
        margin-bottom:10px;
    }
    .main-body-message .files .bottom-adjust
    {
        margin-bottom:20px;
    }


}

@media screen and (min-width:769px) and (max-width:1300px){
    .rightsec .user-name {
        width:140%;
        top:0;
    }
    .rightsec .user-country h3{
        font-size:1.5em;
    }
    
    .main-content {
        padding-top: 63px;
    }
    
    .about-text {
        font-size:1.1em;
    }
    .rightsec .bottom-links {
        width:150%;
        bottom:55px;
    }
    .user-name h1 {
        font-size: 1.6em;
    }
    
    .aboutmeBtn {
        bottom:7px;
    }
}

@media screen and (max-width:991px){

     .leftsec .navlink span, .leftsec .highlighted-text{font-size: 10px; word-wrap: break-word; }
}

@media screen and (max-width:1024px){
    
        .leftsec .navlink span, .leftsec .highlighted-text{font-size: 10px;}
}

@media screen and (max-width:348px){
    .midsec{height: auto; padding-top:80px; padding-bottom: 0px;}
}


@media screen and (max-width:335px){
    .col_select_grid1 {width: 50%;}
    
    .inputBox1 {width: 40%; float: left; padding-right:2px;}
.inputBox2 {width: 60%; float: left; padding-left: 2px;}
#visitModal .chosen-container-single .chosen-single span {width: 160px;}
#visitModal .custombtn {width: 150px;}
}

@media (max-width:1824px) and (min-width:991px) {
.inputBox1 {width: 30%; float: left; padding-right:2px;}
.inputBox2 {width: 70%; float: left; padding-left: 2px;}
}
