<link style="../../css/style.css"></link>
<div class="row">
    <div class="outer_modal">
        <div class="col-sm-6 pad_right_6">
            <a href="#/posthumous-messages/new-message/typemessage">
                <div class="modal_block1" data-target="typemessage">
                <div class="text-cover">
                    <button class="btn custom-btn center-block custom-btn1 custom-black" ><i class="fa fa-keyboard-o" aria-hidden="true"></i> Type Message</button>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-6 pad_left_6">
            <a href="#/posthumous-messages/new-message/uploadfile">
                <div class="modal_block1" data-target="uploadfile">
                    <div class="text-cover">
                        <button class="btn custom-btn center-block custom-btn2 custom-black"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload File</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="outer_modal">
    <div class="col-sm-6 pad_right_6">
        <div class="modal_block1 margin_bottom_custom" data-target="recordaudio">
            <div class="text-cover">
                <button class="btn custom-btn center-block custom-btn3 custom-black"><i class="fa fa-microphone" aria-hidden="true"></i> Record Audio</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 pad_left_6">
        <div class="modal_block1 margin_bottom_custom" data-target="recordvideo">
            <button class="btn custom-btn center-block custom-btn4 custom-black"><i class="fa fa-video-camera" aria-hidden="true"></i> Record Video</button>
        </div>
    </div>
    </div>
</div>