<div class="col-sm-1 col-xs-5 nopadding">
<div class="leftsec">
    <img src="img/man1.jpg" class="img-responsive hidden-xs hidden-sm"/>

    <a href="#/">
        <div class="navlink" ng-class="{ active: isActive('/') }">
            <i class="fa fa-home"></i>
            <span>Home</span>
        </div>
    </a>

    <a href="#/about" >
        <div class="navlink" ng-class="{ active: isActive('/about') }">
            <i class="fa fa-user"></i>
            <span>About Me</span>
        </div>
    </a>
    <a href="#">
        <div class="navlink">
            <i class="fa fa-leaf"></i>
            <span>Family Tree</span>
        </div>
    </a>
    <a href="#">
        <div class="navlink">
            <i class="fa fa-hourglass-half"></i>
            <span>Timeline</span>
        </div>
    </a>
    <a href="#/media-gallery">
        <div class="navlink" ng-class="{ active: isActive('/media-gallery') }">
            <i class="fa fa-picture-o"></i>
            <span>Media Gallery</span>
        </div>
    </a>
    <a href="#/posthumous-messages">
        <div class="navlink" ng-class="{ active: isActive('/posthumous-messages') }">
            <i class="fa fa-heartbeat"></i>
            <span>Posthumous Messages</span>
        </div>
    </a>


    <div class="menufoot">
        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-linkedin-square"></i></li>
            <li><i class="fa fa-instagram"></i></li>
        </ul>
        <span class="highlighted-text">&copy;2017 eMortalized {{test}}</span>
    </div>
</div>
</div>