<div class="topnavbar">
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-6 col-xs-12">
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-home"></i> 
                    <span>home</span>
                </a>
            </li>

            <li>
                <a href="#/message">
                    <i class="fa fa-comments"><span class="badge">5</span></i> 
                    <span>message</span>
                </a>
            </li>

            <li>
                <a href="">
                    <i class="fa fa-bell"><span class="badge">1</span></i> 
                    <span>notifications</span>
                </a>
            </li>

            <li>
                <a href="" class="extrapad">
                    <i class="fa fa-users"><span class="badge">1</span></i>
                    <span>groups</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6 hidden-xs">
        <ul class="pull-right sm-unpull">
            <li>
                <a href="">
                    <i class="fa fa-plus-circle"></i>
                    <span>new profile</span>
                </a>
            </li>
             <li>
                <a href="#/settings">
                    <i class="fa fa-cog"></i>
                    <span>settings</span>
                </a>
            </li>
        </ul>
    </div>

   </div>
</div>
<div class="pulldown">
    <i class="fa fa-sort-desc pulldownarrow"></i>
</div>   
</div>