<link style="../../css/style.css"></link>
<style>
.inputContainer .form-group label{
    margin-top:15px;
    padding-bottom:0;
    
    color: #8d8d8d;
    font-weight: 400;
    margin-bottom: 0px;
}

.inputContainer .inputlabel {
    margin:0 !important;
    font-weight: 400;
}

.inputContainer .form-control {
    border-radius:3px;
    background:rgba(0,0,0,0.0);
    box-shadow: 0 0 0 transparent;
    padding:20px 8px;
}

.inputContainer .form-control:focus,.formsection .form-control:active {
    border-color:#48b897;
}

.inputContainer textarea.form-control {
    padding:5px 8px;
    min-height:100px;
}

.inputContainer select.form-control {
    padding:5px 8px;
    height:41.5px;
}

.inputContainer .input-group .input-group-addon {
    color: #fff;
    background-color: #e0e0e0;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}
</style>
<div class="inputContainer">
	<input type="text" class="form-control" placeholder="Enter Text" id="input-name" />
	<p class="text-danger"></p>
</div>